{% include 'upper.html' %}

    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="/?name={{uname}}">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Checkout</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!--When order will be placed-->
    <div class="container-fluid d-none">
        <img src="/static/img/order_placed_image.png" alt="orderplaced" style="height: 120px; width: 120px; margin-left: 45%;">
        <p style="text-align: center; margin-top: 40px; font-weight: bold;">Your Order has been placed.Thank you for ordering from us!</p>
    </div>
    <!--end-->


    <!-- Checkout Start -->
    <div class="container-fluid pt-5 d-{{varr1}} ">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Products</h5>

                        <!--Dynamic part-->
                        {% for i in item_detail %}

                            <div class="d-flex justify-content-between">
                                <p style="padding-right: 30px;">{{i.product.title}}</p>
                                <p>Rs.{{i.product.discount_price}}</p>
                            </div>
                            <hr>

                        {% endfor %}

                        
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium">Rs.{{totall}}</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">Rs.100</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold">Rs.{{summary_price}}</h5>
                        </div>
                    </div>



                    <!--End-->



                </div>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Payment</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="paypal">
                                <label class="custom-control-label" for="paypal">Paypal</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="directcheck">
                                <label class="custom-control-label" for="directcheck">Direct Check</label>
                            </div>
                        </div>
                        <div class="">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="banktransfer">
                                <label class="custom-control-label" for="banktransfer">Bank Transfer</label>
                            </div>
                        </div>
                    </div>

                    <!--<form class="row d-{{var1}}" method="post" id="detail_form">
                        {% csrf_token %}
                        <div class="col-md-6 form-group">
                            <label>First Name</label>
                            <input class="form-control" type="text" placeholder="First Name" name="fname">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Last Name</label>
                            <input class="form-control" type="text" placeholder="Last Name" name="lname">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input class="form-control" type="text" placeholder="Email Address" name="email">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Mobile No</label>
                            <input class="form-control" type="text" placeholder="Mobile Number" name="mobno">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address</label>
                            <input class="form-control" type="text" placeholder="Enter Address" name="address">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Country</label>
                            <select class="custom-select" name="country">
                                {% for c in country_choice %}
                                    <option>{{c}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>City</label>
                            <input class="form-control" type="text" placeholder="City" name="city">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>State</label>
                            <select class="custom-select" name="state">
                                {% for i in state_choice %}
                                    <option>{{i}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>ZIP Code</label>
                            <input class="form-control" type="text" placeholder="Zip code" name="zip">
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="newaccount" name="add_ress">
                                <label class="custom-control-label" for="newaccount">Add an address</label>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="shipto" name="ship_diff">
                                <label class="custom-control-label" for="shipto"  data-toggle="collapse" data-target="#shipping-address">Ship to different address</label>
                            </div>
                        </div>
                        <button style="background-color: #1F7DFF; border: none; color: black; padding: 10px 15px 10px 15px; border-radius: 2px; margin-left: 17px;" type="submit">SUBMIT</button>
                    </form>
                </div>
                <div class="collapse mb-4" id="shipping-address">
                    <h4 class="font-weight-semi-bold mb-4">Shipping Address</h4>
                    <form class="row">
                        <div class="col-md-6 form-group">
                            <label>First Name</label>
                            <input class="form-control" type="text" placeholder="First Name">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Last Name</label>
                            <input class="form-control" type="text" placeholder="Last Name">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input class="form-control" type="text" placeholder="Email Address">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Mobile No</label>
                            <input class="form-control" type="text" placeholder="Mobile Number">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address</label>
                            <input class="form-control" type="text" placeholder="Enter Address">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Country</label>
                            <select class="custom-select">
                                <option selected>United States</option>
                                <option>Afghanistan</option>
                                <option>Albania</option>
                                <option>Algeria</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>City</label>
                            <input class="form-control" type="text" placeholder="City">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>State</label>
                            <input class="form-control" type="text" placeholder="State">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>ZIP Code</label>
                            <input class="form-control" type="text" placeholder="Zip code">
                        </div>
                    </form>-->
                    <!--Form work end-->
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
                    <form method="post">
                        {% csrf_token %}
                    <!--Form method post to get data in database-->
                        {% for a in user_details %}
                        <div class="card text-dark bg-transparent mb-3" style="max-width: 18rem;">
                            <div class="card-header"><input type="checkbox" name="seladd">Address {{a.add_count}}</div>
                            <div class="card-body">
                            <p class="card-text">Name : {{a.name}}</p>
                            <p class="card-text">Contact no. : {{a.phone}}</p>
                            <p class="card-text">{{a.address}}</p>
                            <p class="card-text">{{a.city}},{{a.state}},{{a.country}}</p>
                            <p class="card-text">{{a.zip}}</p>
                            </div>
                        </div>
                        <input type="hidden" name="acount" value="{{a.add_count}}">
                        {% endfor %}
                        <button type="submit" class="btn btn-primary btn-lg font-weight-medium pr-5 pl-5 pb-2 pt-2">
                            Place Order
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Checkout End -->

{% include 'lower.html' %}